@{
    ViewBag.Title = "Головна";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Діє гнучка система знижок та акцій. Деталніше читайте @Html.ActionLink("тут","Offers","Home").
            </p>
        </div>
    </section>
}
<div class="top-block">
    <div class="transparent-gradient-top">Ми швидко та якісно встановимо Вам натяжні стелі</div>
</div>
<div class="bottom-block-one">
    <div class="transparent-gradient-top">Глянцеві</div>
</div>
<div class="bottom-block-two">
    <div class="transparent-gradient-top">Матові</div>
</div>
<div class="bottom-block-three">
    <div class="transparent-gradient-top">Тканеві</div>
</div>


<h3>Пропонуємо наступні додаткові послуги:</h3>
<ol class="round">
    <li class="one">
        <h5>Підготовка стін та стелі</h5>
        Наші спеціалісти підготують Вашу кімнату перед встановленням натяжної стелі
        @Html.ActionLink("Дізнатись більше…", "Contact", "Home")
    </li>

    <li class="two">
        <h5>Встановлення світильників</h5>
        Встановлюємо світильники будь-якої форми та розміру.
        @Html.ActionLink("Дізнатись більше…", "Contact", "Home")
    </li>

    <li class="three">
        <h5>Розробка 3d конструкцій</h5>
        Розробляємо та здійснюємо монтаж об'ємних конструкцій будь-якої складності.
        @Html.ActionLink("Дізнатись більше…", "Contact", "Home")
    </li>

    <li class="four">
        <h5>Фотодрук</h5>
        Встановлюємо натяжні стелі з нанесенням якісних фотографій.
        @Html.ActionLink("Дізнатись більше…", "Contact", "Home")
    </li>
</ol>
